/*classes communs*/
.fRight {
  float: right;
}
.dNone {
  display: none;
}
.dBlock {
  display: block;
}
.mTop10 {
  margin-top: 10px !important;
}
.mTop20 {
  margin-top: 20px !important;
}
.mBot20 {
  margin-bottom: 20px !important;
}
.upercase {
  text-transform: uppercase;
}
.noBorder {
  border: none !important;
}
.txtOff {
  color: #989CA3 !important;
}
/*classes jQuery*/
.w240px {
  width: 240px;
}
.w320px {
  width: 320px;
}
.w480px {
  width: 480px;
}
.w768px {
  width: 768px;
}
.w1024px {
  width: 1024px;
}
.noWid {
  width: 100% !important;
}
.wrap {
  float: none !important;
  margin: 40px auto 20px !important;
  background: aqua !important;
}
.transition {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.color1 {
  background-color: #000000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.color2 {
  background-color: #23272d;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.color3 {
  background-color: #38404c;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.color4 {
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.color5 {
  background-image: url("../images/transparent.png");
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body.color4 .device span {
  color: #38404c !important;
}
body.color5 .device span {
  color: #38404c !important;
}
.container {
  width: 2972px;
}
.container a {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.container header {
  width: 100%;
  height: 197px;
  background-image: url("../images/bg-top.jpg");
  background-repeat: repeat-x;
}
.container header #top {
  width: 100%;
  height: 80px;
  margin-top: -1px;
  border-top: 1px solid #000000;
  background: url("../images/sprite-responsa.png") repeat-x 0 61px;
}
.container header #top h1 {
  width: 340px;
  height: 62px;
  margin: 10px 0 0 25px;
  background: url("../images/sprite-responsa.png") -187px -22px;
}
.container header form {
  display: block;
  width: 100%;
  height: 60px;
}
.container header form input[type=text] {
  width: 920px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  margin-left: 25px;
  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
  color: #989CA3;
  text-indent: 10px;
  border: 2px solid #272c33;
}
.container header form input[type=text]:focus {
  color: #38404c;
}
.container header nav {
  width: 925px;
  height: 45px;
  margin-left: 25px;
  background: #313741;
}
.container header nav ul {
  height: 45px;
  float: left;
  padding: 0;
}
.container header nav ul li {
  height: 45px;
  float: left;
  margin: 0 6px 0 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 19px;
  padding-right: 8px;
}
.container header nav ul li a {
  display: block;
  height: 45px;
  line-height: 45px;
  font-weight: normal;
  color: #ffffff;
}
.container header nav ul li span {
  display: block;
  width: 17px;
  height: 17px;
  float: left;
  margin: 16px 5px 0 5px;
  background: url("../images/sprite-responsa.png") -25px -64px;
}
.container header nav ul#resolutions {
  width: 365px;
  margin: 0;
}
.container header nav ul#resolutions li span.off {
  background: url("../images/sprite-responsa.png") -5px -64px;
}
.container header nav ul#resolutions li:first-child {
  margin-left: 5px;
}
.container header nav ul#options {
  width: 225px;
  margin: 0;
}
.container header nav ul#options li span {
  background: url("../images/sprite-responsa.png") -45px -64px;
}
.container header nav ul#options li span.off {
  background: url("../images/sprite-responsa.png") -65px -64px;
}
.container header nav ul#options li:first-child {
  margin-left: 5px;
}
.container header nav ul#options li span.on {
  background: url("../images/sprite-responsa.png") -45px -64px;
}
.container header ul#colors {
  width: 320px;
  float: right;
  margin: 0;
}
.container header ul#colors li {
  width: 46px;
  height: 28px;
  overflow: hidden;
  text-indent: -999px;
  float: left: ;
  margin: 7px 10px 7px 0;
  background: #495361;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.container header ul#colors li a {
  width: 56px;
  height: 28px;
}
.container header ul#colors li span {
  margin: 6px 0 0 5px;
  background: url("../images/sprite-responsa.png") -65px -64px;
}
.container header ul#colors li div {
  width: 20px;
  height: 26px;
  float: right;
  margin: 1px 3px 1px 11px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.container header ul#colors li a#color1 div {
  background: #000000;
}
.container header ul#colors li a#color2 div {
  background: #23272d;
}
.container header ul#colors li a#color3 div {
  background: #38404c;
}
.container header ul#colors li a#color4 div {
  background: #ffffff;
}
.container header ul#colors li a#color5 div {
  background: url("../images/transparent.png");
}
.container header ul#colors li span.on {
  background: url("../images/sprite-responsa.png") -45px -64px;
}
.container #deck {
  width: 100%;
}
.container #deck section {
  width: 100%;
}
.container #deck .device {
  position: relative;
  height: 550px;
  float: left;
  margin: 40px 0 20px 15px;
  border: 2px solid #000000;
}
.container #deck .device:first-child {
  margin-left: 25px;
}
.container #deck span {
  position: absolute;
  top: -23px;
  left: 0;
  display: block;
  height: 23px;
  padding: 0 5px;
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.container #deck iframe {
  height: 550px;
  background: #ffffff;
  border: 0;
}
.container #deck .wrap .w240px {
  height: 320px;
}
.container #deck .wrap .w320px {
  height: 320px;
}
.container #deck .wrap .w480px {
  height: 320px;
}
.container #deck .wrap .w768px {
  height: 320px;
}
.container #deck .wrap .w1024px {
  height: 320px;
}
.container #deck .vp240 {
  height: 320px;
}
.container #deck .vp240 iframe {
  height: 320px;
}
.container #deck .vp320 {
  height: 240px;
}
.container #deck .vp320 iframe {
  height: 240px;
}
.container #deck .vp480 {
  height: 560px;
}
.container #deck .vp480 iframe {
  height: 560px;
}
.container #deck .vp768 {
  height: 1024px;
}
.container #deck .vp768 iframe {
  height: 1024px;
}
.container #deck .vp1024 {
  height: 768px;
}
.container #deck .vp1024 iframe {
  height: 768px;
}
